.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #7c9e15;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rbt-header {
  /* Your other styles for the header here */
  background-image: url('D:\5.TRAININGS\DEVELOPMENT\TypeScript\StoreManagementSystem1\Frontend\public\images.jpg'); /* Replace 'path/to/your/image.jpg' with the actual image file path */
  background-size: cover; /* Adjust the background size as needed */
  background-position: center; /* Adjust the background position as needed */
  background-repeat: no-repeat; /* Prevent background image from repeating */
  height: 100vh; /* Set a fixed height for the background */
  color: #fff; /* Set text color to contrast with the background */
}
